/* global stype -------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	color: #343434; /*all text color*/
	margin: 0;
	padding: 0;
	/*font-family: 'Caveat', cursive;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

img{
	width: 300px;
}

a {
	color: yellow;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 100px;
	line-height: 1;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 1.3em;
}

h3 + p {
	font-style: italic;
}

h3 ~ p {
	margin: 0;
}

h1, h2 { /*remove default margins*/
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
}
div {
  height: 15%;
  width: 80%;
  padding: 10px 30px 20px;
  margin: 50px 20px;
}

.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
}

.divider > section { /*add dashed line for each content item*/
	border-bottom: 1px dashed #343434;
}

.divider > section:last-of-type {
	border-bottom: none;
}
/* profile
-------------------*/
header {
	background: #2f3061;
	color: #F7FFF7;
}



/* projects
-------------------*/
.projects {
	background: #a1c6d7;
}
.projects a {
	color: #2f3061;
}
.projects .btn {
	color:#F7FFF7;
	background: #2f3061;
	text-decoration: none;
	padding: 10px;
	/*border: 10px solid red;*/
	border-radius: 10px;
	display: inline-block;
}
.projects .btn:hover {
	background: rgba(47, 48, 97, 0.8);
}
.project-item {
	overflow: hidden;
	border-bottom: 1px dashed #343434;
}

.project-item h3 {
	margin-top: 0;
}

/* work
-------------------*/
.work {
	background: #F7FFF7; #a1c6d7
}
.work .work-exp-summary {
	padding: 5px;
	border-bottom: 1px dashed #343434;
	margin-bottom: 5px;
}
.job-item h3, p {
	margin: 0;
}
.job-details, .job-summary {
	margin: 0;
}

/*education*/
.education {
	background-image: url(../images/edu-pic.jpg);
	background-size: cover;
	background-position: top right;
}

/* footer: contact into;
-------------------*/
footer {
	background: #343434;
	color: #F7FFF7;
}
.contact-list {
	list-style-type: none;
	padding: 0;
}
.contact-list a {
	padding: 15px;
	display: inline-block;
}


/* rpd
-------------------*/
@media screen and (min-width: 750px){
	header, footer {
		text-align: center;
	}
	.project-item img{
	float: left;
	margin-right: 20px;
	padding: 25px 0;
	}

	.job-item {
	display: grid;
	grid-template-columns: 2.5fr 3fr; /*explict grid*/
	column-gap: 20px;
	}
	.contact-list {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 749px) {
	h1 {
	font-size: 70px;
	line-height: 1;
	}
	/*h1, h2 {
		line-height: 1
	}*/
	.contact-list a {
		padding: 5px;
	}
}



